@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body,
html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.dark-mode {
  color: #ddd;
  background-color: #222;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  color: #222;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.toggle {
  margin-bottom: 8px;
}
path {
  fill: #222;
}

.p-dark-mode {
  fill: #ddd;
}

#location {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.time {
  font-family: Poppins;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 16px;
  margin: 0;
}

.date {
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  margin: 0;
}
